.contact.section {
  padding-bottom: 6.25rem;
}
  
.contact-container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}
  
.contact__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.contact__details {
  margin-bottom: 1rem;
}
  
.contact__form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
  
.contact__form-div {
  position: relative;
  margin-bottom: 1.875rem;
  height: 3.75rem;
}
  
.contact__form-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.875rem;
  background-color: var(--container-color);
  border: 2px solid var(--body-color);
  color: var(--text-color);
  border-radius: 1.875rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.contact__form-input:focus {
  border-color: var(--first-color);
}
  
.contact__form-area {
  height: 10.25rem;
}
  
.contact__form-area textarea {
  resize: none;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
    max-width: 680px;
    margin: 0 auto;
  }

  .contact__form {
    margin-top: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    max-width: 100%;
    padding: 0 1rem;
  }

  .contact__info {
    text-align: center;
  }

  .contact__form-group {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .contact-container {
    padding: 0 0.5rem;
  }

  .contact__form-input {
    padding: 0.625rem 1.25rem;
  }
}

